# The purpose of this rules file is to ensure that the top left usb port and its partitions have a symlink to /dev/source_key[num], and the other ports to /dev/dest_key[num]
KERNEL=="sd*", KERNELS=="1-1.[1-5]", SUBSYSTEMS=="usb", PROGRAM="/usr/local/bin/identifyusbport.sh %p %k add", SYMLINK+="%c%n" 
ACTION=="remove", KERNELS=="1-1.[1-5]", SUBSYSTEMS=="usb", PROGRAM="/usr/local/bin/identifyusbport.sh %p %k remove" 
